[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
python-dotenv = "*"
codedx-api = {editable = true,git = "https://github.com/broadinstitute/dsp-appsec-codedx-api-client-python.git"}

